/* Reset CSS */
* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
    margin: 0;
}

/* Main content container */
.content {
    padding: 2rem;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
}

/* Pokemon card styles */
#pokemonList {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    max-width: 360px;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
}

.pokemon {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 1rem;
    width: 300px;
    color: #fff;
    border-radius: 2rem;
    justify-content: space-between;
}

.normal{
    background-color: #a6a877;
}

.grass{
    background-color:#77c850;
}

.fire{
    background-color: #ee7f30;
}

.water{
    background-color: #678fee;
}

.electric{
    background-color: #f7cf2e;
}

.ice{
    background-color: #98d5d7;
}

.ground{
    background-color: #dfbf69;
}

.flying{
    background-color: #a98ff0;
}

.poison{
    background-color: #a040a0;
}

.fighting{
    background-color: #bf3029;
}

.psychic{
    background-color: #f65687;
}

.dark{
    background-color: #725847;
}

.rock{
    background-color: #b8a137;
}

.bug{
    background-color: #a8b720;
}

.ghost{
    background-color: #6e5896;
}

.stell{
    background-color: #b9b7cf;
}

.dragon{
    background-color: #6f38f6;
}

.fairy{
    background-color: #f9aec7;
}

.pokemon img {
    max-width: 70%;
    height: 120px;
    align-self: flex-end;
}

.name {
    font-size: 2rem;
    padding: 1rem;
}

.number {
    color: #000000;
    opacity: .3;
    text-align: right;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
}

.pagination button{
    color: #fff;
    background-color: #9a77db;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    border: none;
}

.types {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.type {
    padding: .4rem;
    margin: .25rem;
    border-radius: .5rem;
    text-align: center;
}

/* Media queries */
@media screen and (min-width: 600px) {
    .content {
        max-width: 992px;
    }
    
    #pokemonList {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        max-width: 1100px;
    }
}

@media screen and (min-width: 1400px) {
    .content {
        margin: 0 auto;
    }
    
    #pokemonList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Hover effect */
.content h1 {
    color: rgb(240, 210, 17);
}

.content h1:hover {
    color: rgb(182, 178, 47);
}
